{% extends 'base.html' %}

{% block content %}
    <h2>Dishes in the restaurant</h2>
    {% if menu %}
        <ul>
            {% for dish in menu %}
                <li class="list-group-item">{{ dish.name|capfirst }}</li>
                <a href="{% url 'management:update_dish' dish.id %}">Update</a>
                <a href="{% url 'management:delete_dish' dish.id %}">Delete</a>
            {% endfor %}
        </ul>

    {% else %}
        <p>There is not dishes in the database.</p>
    {% endif %}

    <a href="{%url 'management:add_dish' %}">Add a new dish</a><br>
    <a href="{% url 'management:home' %}">Go back Dashboard</a>
{% endblock %}