{% extends 'base.html' %}

{% block content %}
    <h2>Dishes in the restaurant</h2>
    {% if menu %}
        <ul>
            {% for dish in menu %}
                <li class="list-group-item">{{ dish.name }}</li>
                <a href="#">Update</a>
                <a href="#">Delete</a>
            {% endfor %}
        </ul>

    {% else %}
        <p>There is not dishes in the database.</p>
    {% endif %}

    <a href="#">Add a new dish</a><br>
    <a href="{% url 'management:home' %}">Go back Dashboard</a>
{% endblock %}