/* spacing */

.min-vh-60 {
    min-height: 60vh;
}

/* header  */
.bg-header{
    background-color: var(--header-bg-colour);
    position: sticky;
    top:0;
    z-index: 999;
}

.brand {
    font-family: var(--font-family-brand);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-brand);
    color: var(--header-text-colour);
}

/* Navigation links */
.nav-link {
    font-family: var(--font-family-body);
    color: var(--header-text-colour);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-navigation);
}

.nav-link:hover{
    color: var(--header-text-hoover-colour);
}

/* Hamburger */

.navbar-toggler {
    border-color: var(--header-text-colour);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Bootstrap hamburger icon */

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

/* footer */

.bg-footer {
    background-color: var(--footer-bg-colour);
    color: var(--footer-text-colour);
}

.footer-main-heading{
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-heading);
}

.footer-text-body{
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
}

/* body */

.body-main-heading{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
}

.body-secondary-heading{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-secondary-heading);
    font-weight: var(--font-weight-medium);
}

.body-paragraph{
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

/* buttons */

.btn{
    background-color: var(--button-bg-colour);
    border: 1px solid #fff;
    border-radius: 25px;
    color: var(--button-text-colour);
    font-family: var(--font-family-body);
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    padding: 5px 20px;
}

.btn:hover{
    background-color: var(--button-bg-hover-colour);
    border: 1px solid var(--button-bg-colour);
    border-radius: 25px;
    color: var(--button-text-hover-colour);
}

/* form */

.form-label{
    font-family: var(--font-family-body);
    font-size: var(--font-size-secondary-heading);
    font-weight: var(--font-weight-bold);
}

/* Aligns form labels and keeps input fields in the same position */
.form-label-fixed {
    width: 130px;
    text-align: right;
}

.signup-form ul{
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}


.signup-form ul li{
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}









