{% extends 'base.html' %}
<!-- # here we are going to load specific static files for my app -->
{% load static %}

{% block title %}| home {% endblock %}

{% block content %}
<section class="container">

    <h2 class="text-center body-main-heading mt-4">
        Welcome to Flavour Restaurant
    </h2>

    <div class="text-center">
        <img 
            src="{% static 'home/images/main_image.jpg' %}" 
            class="img-fluid mt-3"
            alt="Flavour Restaurant"
        >
    </div>

    <div class="row text-center mt-5 mb-3">

        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <h3 class="body-secondary-heading">
                Gourmet Experience
            </h3>
        </div>

        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <h3 class="body-secondary-heading">
                Gastronomic Experience
            </h3>
        </div>

        <div class="col-12 col-md-4">
            <h3 class="body-secondary-heading">
                Cuisine Discovery
            </h3>
        </div>

    </div>

   

    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center my-5">    
        <a href="#" class="btn">Book a table</a>
        {% if not user.is_authenticated %}
            <a href="{% url 'account_signup' %}"class="btn mx-lg-5">Sign up</a></p>
        {% endif %}
    </div>

</section>
{% endblock %}