{% extends 'base.html' %}
<!-- # here we are going to load specific static files for my app -->
{% load static %}

{% block title %}| home {% endblock %}

{% block content %}
<h2 class="text-center lato">Welcome to Flavour Restaurant</h2>
<div class="text-center">
    <!-- here include and image  -->
     <img src="{% static 'images/main_image.jpg' %}" class = "img-fluid mt-3"alt="Restaurant min image">
</div>
<div class="d-flex justify-content-around mt-5">
    <p class="lato">Gourmet Experience</p>
    <p class="lato">Gastronomic Experience</p>
    <p class="lato">Cuisine Discovery</p>
</div>
{% endblock %}