{% extends 'base.html' %}

{% block content %}

<h2 class="text-center"> Checkout </h2>

<div class="d-flex flex-row justify-content-around align-items-stretch">
    <!-- Display order details  -->
    <section>
        {% if order and order_products %}
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th scope="col">Dish</th>
                        <th scope="col">Quantity</th>
                        <th scope="sol">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order_products %}
                        <tr>
                            <td>{{ product.product_id.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.get_subtotal|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-end">Total</td>
                        <td>{{ order.total|floatformat:2 }}</td>
                    </tr>
                </tfoot>
            </table>
            
        {% else %}
            <h3 class="text-center">Your cart is empty </h3>
        {% endif %}
    </section>
    <!-- render a form  -->
    <section>
        
        <form method="post" action="{% url 'orders:pay_order' order_id %}" id="form-id">
            {% csrf_token %}
            {{ order_form.as_p }}
            <button type="submit" class="btn btn-primary">Pay</button>
            <a href="{% url 'menu:menu_list' %}" class="btn btn-primary">Cancel</a>
        </form>

    </section>
</div>

{% endblock %}