{% extends 'base.html' %}

{% block title %} | Reset Password {% endblock %}

{% block content %}
    <form method="post" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        <h2>Reset your Password</h2>
        {{ form.as_p }}
         
        <!-- <label for="username" class="sr-only italiana">Username | Email</label>
        {{ form.login }}
        <br>
        <label for="password" class="sr-only">Password</label>
        {{ form.password }} -->
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
    </form>

{% endblock %}