{% extends 'base.html' %}
{% load static %}

{% block title %} | Sign Up {% endblock %}

{% block content %}

    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <p><strong>{{ field.label }}:</strong> {{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}


    <form method="post" class="d-flex flex-column justify-content-center mt-4 min-vh-60">
        {% csrf_token %}
        <h2 class="text-center mb-4 body-main-heading" >Sign Up</h2>

        <div class="mb-3 d-flex justify-content-center align-items-center"> 
            <label for="{{ form.username.id_for_label }}" class="form-label me-4 form-label-fixed"> Username </label> 
            {{ form.username }}
        </div>

        <div class="mb-3 d-flex justify-content-center align-items-center"> 
            <label for="{{ form.email.id_for_label }}" class="form-label me-4 form-label-fixed"> Email </label> 
            {{ form.email }}
        </div>

        <div class="mb-3 d-flex justify-content-center align-items-center"> 
            <label for="{{ form.password1.id_for_label }}" class="form-label me-4 form-label-fixed"> Password </label> 
            {{ form.password1 }}
        </div>

        <div class="mb-3 d-flex justify-content-center align-items-center"> 
            <label for="{{ form.password2.id_for_label }}" class="form-label me-4 form-label-fixed"> Repeat Password </label> 
            {{ form.password2 }}
        </div>

        <div class="text-center mt-3">
            <ol class="list-group list-group-numbered w-auto d-inline-block text-start">
                <li class="list-group-item">Your password can't be too similar to your other personal information.</li>
                <li class="list-group-item">Your password must contain at least 8 characters.</li>
                <li class="list-group-item">Your password can't be a commonly used password.</li>
                <li class="list-group-item">Your password can't be entirely numeric.</li>
            </ol>
        </div>
            


            <!-- {{ form.as_p }} -->
        <div class="text-center mt-5">
            <button type="submit" class="btn">Signup</button>
        </div>
    </form>

    <p class="text-center mt-3">
        Already account? <a href="{% url 'account_login' %}">Log in here</a>
    </p>

{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/script_remove_liststyle.js' %}"></script>
{% endblock %}