{% extends 'base.html'%}

{% block content %}
    {% if item %}
     <!-- do something  -->
            <h3>{{ item.name }}</h3>
            <img src="{{ item.image.url }}" alt="">
            <p>Category: {{ item.category.name }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Price: £{{ item.price }}</p>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ingredient.name}}</li>
                {% endfor %}
            </ul>
            <br>
            <a href="{% url 'menu:menu_list' %}">Go back menu</a>
    {% else %} 
    <h3>There is no menu to display! Sorry!</h3>
    {% endif %}

{% endblock %}